// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.ui-dialog ,
.ui-datepicker, 
button.editable-submit { z-index: 1000 !important; }
@import "materialize/components/color";
$primary-color: color("brown", "darken-2") !default;
@import 'materialize';

@import "materialize";

#files_filter {
  input {
    width: 612px;
  }
}
#upload, #binder_create_form, #binder_destroy_form  {
  display: none;
}

#files_wrapper {
  margin-top: 20px;
}

#files {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#delete_button{
  color: white;
}

.block_left {
  float: left;
}
.block_right {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
