// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

#main {
  width: 800px;
  margin: 0;
}

#brand {
  a {
    text-decoration: none;
    color: black;
  }
}

#upload, #binder_create_form, #binder_destroy_form  {
  display: none;
}

#files_wrapper {
  margin-top: 20px;
}
#files {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.progress {
  width: 600px;
  .bar {
    height: 10px;
    background-color: green;
  }
}

#files_filter {
  label {
    input {
      width: 600px;
      height: 30px;
    }
  }
}

.block_left {
  float: left;
}
.block_right {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
